

<div class ="table-responsive-vertical">
    
        <table class="tableB" id="desconexionrecibida-tabla">
          <thead>
            <tr>
                <th>cuenta</th>
                <th>documento</th>
                <th>nombre_suscriptor</th>
                <th>correo_suscriptor</th>
                <th>telefono_1</th>
                <th>direccion_instalacion</th>
                <th>nombre_nodo</th>
                <th>nombre_comunidad</th>
                
            </tr>
          </thead>

          <tbody id="desconexionrecibida-tb">

          </tbody>

          <tfoot>
            <tr>
            </tr>
          </tfoot>
        </table>
</div>
    
        <hr class="e20"/>

        <div id="desconexionrecibida_paginacion" class="pagination" >                            
        </div>


        <article id="desconexionrecibida_acciones_lista">
            <pre></pre>
        </article>    

